<div class="wrapper wrapper-content animated fadeInRight" nv-file-drop="" uploader="uploader" >
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <div class="col-xs-12">
                    <div class="row" >
                        <h2 class="dark-gray-header">Upload Your GSA Files</h2>
                        <div ng-show="uploader.isHTML5">
                            <h3 class="grey-header text-center">You can use these files in your forms!</h3>
                        </div>
                        <div class="progress" >
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>

                        <input type="file" nv-file-select="" uploader="uploader" multiple class="hidden" id="js-file-selector" />
                        <form class="form-dropzone sgma-uploader dropzone dz-clickable" dropzone="" id="dropzone" onclick="$('#js-file-selector').click();">
                            <div align="center" class="dz-default dz-message m-t-lg">
                                <span><span class="glyphicon glyphicon-cloud"></span>&nbsp;<strong>Drop files here or click to upload</strong></span>
                                <div ng-repeat="item in uploader.queue">
                                    <span><strong>{{ item.file.name }}</strong></span>
                                    <br>
                                </div>
                            </div>
                        </form>
                        <br>
                        <div>                            
                            <button type="button" class="btn btn-default btn-s" onclick="$('#js-file-selector').click();">
                                    <span class="glyphicon glyphicon-upload"></span> Select Files
                                </button>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> Upload all
                                </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> Remove all
                                </button>
                        </div>


                    </div>
                    <div class="row" id="uploads">
                        <br><br>
                        <table class="table sgma-upload">
                            <thead>
                                <tr>
                                    <th >Name</th>
                                    <th >Size</th>
                                    <th >Last Modified</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploadedFiles">
                                    <td ><a target="_blank" href="{{item.downloadUrl}}" class="downloadLink" ><strong >{{ item.name }}</strong></a></td>
                                    <td nowrap>{{ item.size/1024/1024|number:2 }} MB</td>
                                    <td nowrap>{{ item.lastModified | date:'yyyy-MM-dd h:mm:ss a'}}</td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-danger btn-xs text-center" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span>
                                    </button>

                                    <a target="_blank" href="{{item.downloadUrl}}" class="btn btn-success btn-xs text-center downloadButton" ><span class="glyphicon glyphicon-download"></span></a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
