<div class="login-background container-fluid">

  <div class="middle-box text-center  animated fadeInDown  row">
    <div class="col-sm-6 login-left form-card">
      <div>
        <img class="login-logo" src="components/layout/sgma-big-logo.png" />
      </div>
      <br>
      <div class="alert alert-danger" ng-show="errorMessage">
        {{errorMessage}}
      </div>
      <form class="" role="form">
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email" required="" ng-model="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" required="" ng-model="password">
        </div>
        <div class="form-group">
          <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b" ng-click="signUp()">Register</button>

        <p class="text-muted text-center"><small>Already have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" ui-sref="login">Login</a>
      </form>
    </div>
    <div class="col-sm-6 login-right ">
      <img class="login-right-img" src="components/layout/img-farm.png" />
    </div>
  </div>
</div>