<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>GSA Progress</h5>
        </div>
        <div class="ibox-content" style="min-height:300px;">
          <div align="center">
            <img width="160" src="components/layout/progress.png">
            <button class="btn gsa-progress-btn"><span>Pick Up Where I Left Off!</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Water Quality</h5>
        </div>
        <div class="ibox-content" style="min-height:300px;">
          <div align="center">
            <c3chart bindto-id="gauge-plot1-chart">
              <chart-column column-id="Data 1" column-color="#0294FF"
                column-values="60"
                column-type="gauge"/>
                <chart-gauge min="0"
                  max="100"
                  width="39"/>
            </c3chart>
            <p></p>
            <span class="on-track m-t-lg">You are on track!</span>
            <br>
            <span class="progress-remaining">You still have 40% of your daily water left</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Well Functionality</h5>
        </div>
        <div class="ibox-content" style="min-height:300px;">
          <div>
            <canvas doughnutchart options="dashboard.doughnutOptions" data="dashboard.doughnutData" responsive="true"></canvas>
          </div>
          <div class="row m-t-lg" align="center">
            <div class="col-lg-4">
              <button disabled class="well-functionality-key enough"></button>Enough
            </div>
            <div class="col-lg-4">
                <button disabled class="well-functionality-key insufficient"></button>Insufficient
            </div>
            <div class="col-lg-4">
                <button disabled class="well-functionality-key dry"></button>Dry
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>{{dashboard.map.title}}</h5>
            <div class="ibox-tools" uib-dropdown>
              <a href uib-dropdown-toggle>
                <i class="fa fa-bars"></i>
              </a>
              <ul uib-dropdown-menu>
                  <li data-ng-repeat="map in dashboard.maps">
                    <a data-ng-click="dashboard.updateMap(map)">{{::map.title}}</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="ibox-content" height="200" responsive="true">
            <div id="js-leaflet-map"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Groundwater Usage / Well Maintenance Cost</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button type="button" class="btn btn-xs btn-white active">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-12" style="overflow:hidden;">
              <canvas class="m-t-lg" linechart options="dashboard.lineOptions" data="dashboard.lineData" height="500" responsive=true></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>All Posted GSA Notices</h5>
            <select class="input-sm form-control form-select input-s-sm inline pull-right" style="width:120px;">
              <option value="0">11 Nov - 10 Dec</option>
            </select>
            <div class="clearfix"></div>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>ID</th>
                    <th>GSA Name</th>
                    <th>Basin</th>
                    <th>Contact</th>
                    <th>County</th>
                    <th>Region</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="notice in dashboard.notices">
                    <td>
                      <input icheck type="checkbox" data-ng-model="notice.selected">
                    </td>
                    <td width="10%">{{notice.basin_number}}</td>
                    <td width="25%">{{notice.name}}</td>
                    <td>{{notice.basin_name}}</td>
                    <td width="25%">{{notice.contact}}</td>
                    <td>{{notice.county}}</td>
                    <td>{{notice.region}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>