<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Statistics to Date</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button type="button" class="btn btn-xs btn-white active">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-xs-12">
              <div class="flot-chart">
                <div flot class="flot-chart-content" dataset="dashboard.flotData" options="dashboard.flotOptions"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Pie </h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas doughnutchart options="dashboard.doughnutOptions" data="dashboard.doughnutData" responsive="true"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <div class="ibox float-e-margins" style="margin-bottom: 12px;">
          <div class="ibox-title">
            <span class="pull-right"><i class="fa fa-cog"></i></span>
            <h5>Aquifers</h5>
          </div>
          <div class="ibox-content" responsive="true" height="200">
            <h1 class="no-margins">Map of Aquifers</h1>
            <div id="js-aquifers-map"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="pull-right"><i class="fa fa-cog"></i></span>
            <h5>Water Level in CA Wells</h5>
          </div>
          <div class="ibox-content" height="200" responsive="true">
             <div id="js-well-map"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Bar Chart Example</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas barchart options="dashboard.barOptions" data="dashboard.barData" responsive="true"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>All Posted GSA Notices</h5>
          <div ibox-tools></div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3 col-sm-offset-9 m-b-xs">
              <select class="input-sm form-control input-s-sm inline">
                <option value="0">11 Nov - 10 Dec</option>
              </select>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>GSA Name</th>
                  <th>Basin</th>
                  <th>Basin Number</th>
                  <th>Manager</th>
                  <th>Email</th>
                  <th>Date</th>
                  <th>Numbers</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="notice in dashboard.notices">
                  <td>
                    <input icheck type="checkbox" data-ng-model="notice.selected">
                  </td>
                  <td>{{::notice.name}}</td>
                  <td>{{::notice.basin}}</td>
                  <td>{{::notice.basinNumber}}</td>
                  <td>{{::notice.manager}}</td>
                  <td>{{::notice.email}}</td>
                  <td>{{::notice.date}}</td>
                  <td>{{::notice.numbers}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>