<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content" ng-controller="chartJsCtrl as chart">
          <div>
            <h1 class="m-b-xs">Some Water Related Stuff</h1>
            <h3 class="font-bold no-margins">
              Some More Text
            </h3>
          </div>
          <div>
            <canvas linechart options="chart.lineOptions" data="chart.lineData" height="70" responsive=true ></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>