@import url('https://fonts.googleapis.com/css?family=Lato');

/* Only demo */

@media (max-width: 1000px) {
    .welcome-message {
        display: none;
    }
}


/*
***************
Custom Elements
***************
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #FFFFFF;
}


/*
**************
Custom Classes
**************
*/

.baby-blue-bg {
    background-color: #EEF4F9;
}


/* Side Navigation */

.nav-header {
    background-color: #FFFFFF;
    background-image: none;
}

.nav>li>a {
    color: #98A4A8;
}

.nav>li.active {
    background: #E7F3FF;
    background-color: #E7F3FF;
    border-left: #E7F3FF;
}

.nav>li.active a {
    color: #158BF5;
}

.nav>li>a:focus {
    background-color: #E7F3FF;
    color: #158BF5;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus {
    background-color: #E7F3FF;
    color: #158BF5;
}


/* End Side Navigation */


/* Top Navigation */

.navbar-top-links li a {
    min-height: 40px;
}

.sub-nav .nav>li>a {
    font-size: 12px;
    padding: 6px 20px 2px 20px;
    color: #98A4A8;
}

.navbar-minimalize {
    background-color: #FFFFFF;
    color: #98A4A8;
}

.minimalize-styl-2 {
    margin: 16px 5px 3px 20px;
    padding-left: 0px;
}

.navbar-top-links.pull-right .fa {
    font-size: 26px;
}

.sub-nav {
    min-height: 40px;
}


/* End Top Navigation */


/* Forms */

.form-card {
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
    padding: 40px 80px;
}

.form-disclaimer {
    color: #8091A5;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.form-getting-started {
    color: #313541;
    font-family: Lato, "Helvetica Neue";
    font-size: 48px !important;
    line-height: 57px;
}


/* End Forms */


/* Buttons */

.btn i {
    font-weight: 100;
}

.btn-info {
    height: 48px;
    width: 224px;
    border-radius: 50px;
    background-color: #0294FF;
}

.btn-info:hover,
.btn-info:active {
    background-color: darken(#0294FF, 4%) !important;
}


/* End Buttons */


/* Helper Classes */

.margin-bottom-0 {
    margin-bottom: 0px;
}

.p-b-xxx-lg {
    padding-bottom: 100px;
}

.p-t-xxx-lg {
    padding-top: 100px;
}

.btn {
    border-radius: 52px;
}

.alert-danger {
    border: 1px solid #E34C4C;
    border-radius: 4px;
    background-color: rgba(227, 76, 76, 0.05);
}

.alert-sucess {
    border: 1px solid #56BD5B;
    border-radius: 4px;
    background-color: rgba(86, 189, 91, 0.05);
}


/* End Helper Classes */