/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* Custom Elements */

body {
  background-color: #FFFFFF;
}

/* Custom Classes */

/* Navigation */
.nav-header {
  background-color: #FFFFFF;
  background-image: none;
}
.nav > li > a {
  color: #98A4A8;
}
.nav > li.active {
  background: #E7F3FF;
  background-color: #E7F3FF;
  border-left: #E7F3FF;
}
.nav > li.active a {
  color: #158BF5;
}
.nav > li > a:focus {
  background-color: #E7F3FF;
  color: #158BF5;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: #E7F3FF;
  color: #158BF5;
}

/* Top Navigation */
.nav.sub-nav > li > a {
  font-size: 12px;
  padding: 10px 20px 2px 20px;
  color: #98A4A8;
}
.navbar-minimalize {
  background-color: #FFFFFF;
  color: #98A4A8;
}
.minimalize-styl-2 {
  margin: 16px 5px 3px 20px;
}
.navbar-top-links.navbar-right .fa {
  font-size: 26px;
}