<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div>
          <div class="row" align="center">
            <img width="165" src="components/layout/logo.png">
          </div>
        </div>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.dashboard">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-home"></i>
          </div>
          <span class="nav-label">Dashboard</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.gsa">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-document-text"></i>
          </div>
          <span class="nav-label">My GSA</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.gsp">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-document-text"></i>
          </div>
          <span class="nav-label">GSP Submission</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.basinmapper">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-waterdrop"></i>
          </div>
          <span class="nav-label">Map your Basin</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.uploads">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-upload"></i>
          </div>
          <span class="nav-label">GSA Uploads</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="index.helpcenter">
          <div class="col-xs-2 p-l-0">
            <i class="icon ion-help-circled"></i>
          </div>
          <span class="nav-label">Help Center</span>
        </a>
      </li>
    </ul>
  </div>
</nav>