<div class="row">
  <nav class="navbar navbar-static-top white-bg m-b-0" role="navigation">
    <ul class="nav navbar-top-links pull-right">
      <li>
        <button>
          DM
        </button>
      </li>
      <li>
        <a>
          Daniel Mccloud
        </a>
    </li>
    </ul>
  </nav>
</div>
<div class="row" data-ng-hide="true">
  <nav class="navbar navbar-static-top sub-nav white-bg margin-bottom-0">
    <ul class="nav navbar-top-links">
      <li>
        <a>Profile</a>
      </li>
      <li>
        <a>Company</a>
      </li>
      <li>
        <a>Email</a>
      </li>
      <li>
        <a>Integrations</a>
      </li>
      <li>
        <a>Billing</a>
      </li>
    </ul>
  </nav>
</div>