<div class="row">
  <nav class="navbar navbar-static-top white-bg m-b-0" role="navigation">
    <ul class="nav navbar-top-links pull-right" uib-dropdown>
      <li uib-dropdown-toggle>
        <button class="display-inline">
          JS
        </button>
        <a class="display-inline">
          Jon Snow <i class="logout-dropdown icon ion-chevron-down"></i>
        </a>
      </li>
      <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
          <li class="visible-xs visible-sm"><a ui-sref="index.dashboard">Dashboard</a></li>
          <li class="visible-xs visible-sm"><a ui-sref="index.gsa">My GSA</a></li>
          <li class="visible-xs visible-sm"><a ui-sref="index.gsp">GSP Submission</a></li>
          <li class="visible-xs visible-sm"><a ui-sref="index.basinmapper">Map Your Basin</a></li>
          <li class="visible-xs visible-sm"><a ui-sref="index.uploads">GSA Uploads</a></li>
          <li class="visible-xs visible-sm"><a ui-sref="index.helpcenter">Help Center</a></li>
          <li class="visible-xs visible-sm" class="divider"></li>
          <li><a ui-sref="login">Logout</a></li>
      </ul>
    </ul>
  </nav>
</div>
<div class="row" data-ng-hide="true">
  <nav class="navbar navbar-static-top sub-nav white-bg margin-bottom-0">
    <ul class="nav navbar-top-links">
      <li>
        <a>Profile</a>
      </li>
      <li>
        <a>Company</a>
      </li>
      <li>
        <a>Email</a>
      </li>
      <li>
        <a>Integrations</a>
      </li>
      <li>
        <a>Billing</a>
      </li>
    </ul>
  </nav>
</div>