<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-xs-12">
      <div class="m-t-lg">
        <div class="col-xs-12">
          <div class="form-card p-t-xxx-lg p-b-xxx-lg">
            <p class="form-getting-started">Are you ready for your GSP?</p>
            <p>
              GSP Submissions need to include the following:
              <ul class="list-group">
                <li class="list-group-item">A description of the physical setting and characteristics of the aquifer system underlying the basin that
                  includes the following : Groundwater levels, groundwater quality, subsidence, and groundwater-surface water
                  interaction</li>
                <li class="list-group-item">A general discussion of historical and projected water demands and supplies.</li>
                <li class="list-group-item">A map that details the area of the basin and the boundaries of the groundwater sustainability agencies that
                  overlie the basin that have or are developing groundwater sustainability plans</li>
              </ul>
            </p>
            <p>
              <a role="button" class="btn btn-info btn-lg m-t-lg btn-info-big">
                Let's Begin <i class="fa fa-arrow-right"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>