<div class="row">
  <div class="form-group col-xs-12 p-l-0 m-t-12">
    <label class="font-normal form-label col-xs-12">Select Agency Name</label>
    <div class="col-md-10">
      <select chosen class="chosen-select form-select" tabindex="4" ng-model="gsa.state" ng-options="s for s in gsa.options"></select>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-12 p-l-0 m-t-12">
    <label class="font-normal form-label col-xs-12">Attach statutary area boundary shape file</label>
    <div class="col-md-10">
      <form action="#" class="form-dropzone dropzone dz-clickable" dropzone="" id="dropzone">
        <div align="center" class="dz-default dz-message m-t-lg"><span><strong>Drop files here or click to upload. </strong></span></div>
      </form>
    </div>
  </div>
</div>