<div class="row">
    <div class="form-group">
        <input type="file" nv-file-select="" uploader="gsa.uploader" class="hidden" id="js-file-selector" />
        <div class="col-xs-12">
            <form class="form-dropzone dropzone dz-clickable" dropzone="" id="dropzone" onclick="$('#js-file-selector').click();">
                <div align="center" class="dz-default dz-message m-t-lg">
                    <span><strong>Drop files here or click to upload</strong></span>
                </div>
            </form>
            <div ng-repeat="item in gsa.uploader.queue">
                <span><strong>{{ item.file.name }}</strong></span>
                <span ng-show="gsa.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</span>
                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </div>
            <br>
            <button type="button" class="btn btn-success btn-s pull-right" ng-click="gsa.uploader.uploadAll()" ng-disabled="!gsa.uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
        </div>
    </div>
</div>