<div class="row">
    <div class="form-group col-xs-12 m-t-12">
        <label class="font-normal form-label">Please enter point of contact information:</label>
        <form method="get" class="ng-pristine ng-valid" id="contact-form">
            <div class="form-group">
                <label class="control-label">First Name:</label><br>
                <input class="form-control" type="text" ng-model = "gsa.activeQuestion.value.firstname">
            </div>
            <div class="form-group">
                <label class="control-label">Last Name:</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.lastname">
            </div>
            <div class="form-group">
                <label class="control-label">Email Address</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.email" name="email">
            </div>
            <div class="form-group">
                <label class="control-label">Phone:</label><br>
                <input class="form-control" type="tel" ng-model="gsa.activeQuestion.value.phone">
            </div>
            <div class="form-group">
                <label class="control-label">Address:</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.address1" name="address">
            </div>
            <div class="form-group">
                <label class="control-label">Address2 (Suite/Apt #):</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.address2" name="address2">
                
            </div>
            
            <div class="form-group">
                <label class="control-label">State</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.state" name="state">
            </div>
            
            <div class="form-group">
                <label class="control-label">Zip Code</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.zip" name="zip">
            </div>
            
            <div class="form-group">
                <label class="control-label">Title</label><br>
                <input class="form-control" type="text" ng-model="gsa.activeQuestion.value.title" name="title">
            </div>
            
        </form>
    </div>
</div>