<div class="row">
    <div class="form-group col-xs-12 m-t-12">
        <label class="font-normal form-label">Please enter or select the decision date:</label>
        <div class="input-group col-xs-6 date">
            <input class="form-control" type="datetime" date-time ng-model="gsa.activeQuestion.value" view="date" auto-close="true" min-view="date"
                format="MM-DD-YYYY">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>