<div class="row">
    <div class="form-group col-xs-12 m-t-12">
        <label class="font-normal form-label">
            Please describe your local agency's water supply, water management or land use responsibilities within the groundwater basin(s) you intend to manage.
        </label><br>

        <div id="summernote" name="value"></div>
        <script>
            $(document).ready(function () {

                $('#summernote').summernote({
                    height: 300, // set editor height
                    minHeight: null, // set minimum height of editor
                    maxHeight: null, // set maximum height of editor
                    focus: false
                });
            });
        </script>
    </div>
</div>