<div class="row">
        <div class="form-group col-xs-12 m-t-12">
            <label class="font-normal form-label">
                Please describe interested parties you will include as part of your GSA.
            </label><br>
    
            <div id="summernote" name="value"></div>
            <script>
                $(document).ready(function () {
    
                    $('#summernote').summernote({
                        height: 300, // set editor height
                        minHeight: null, // set minimum height of editor
                        maxHeight: null, // set maximum height of editor
                        focus: false
                    });
                });
            </script>
        </div>
    </div>