<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-xs-12">
      <div class="m-t-lg">
        <div class="col-xs-12">
          <div class="form-card p-t-xxx-lg p-b-xxx-lg">
            <p class="form-getting-started">Ready To Form Your GSA?</p>
            <span class="form-disclaimer">
              We know how long government enrollment forms can be<br>
              But we are here to help simplify that process!</span>
            <p>
              <a role="button" ui-sref="index.gsa-forms" class="btn btn-info btn-lg m-t-lg btn-info-big">
                Let's Begin!<i class="fa fa-arrow-right"></i>
              </a>
            </p>
          </div>
        </div>       
      </div>
    </div>
  </div>
</div>