<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-t-lg">
                <div class="form-card p-t-xx-lg p-b-xx-lg">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10">
                            <h2 class="form-getting-started text-center text-uppercase center-title">Help Center</h2>
                            <form id="home-search" accept-charset="UTF-8" page="1" action="/search" method="get">
                                <input name="utf8" type="hidden" value="✓">
                                <div class="search-bar">
                                <button type="submit" class="btn-search">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input type="search" name="query" id="search-input" maxlength="255" class="form-control input-lg" placeholder="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="row" id="faq-cards">
                        <div class="col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="card-title">GSA Center</h3>
                                    <p class="card-text">
                                        Need help completing your GSA?<br>
                                        Or help resolving groundwater basin boundary area issues?
                                    </p>
                                    <a role="button" class="btn btn-info btn-md card-btn">
                                        GSA Center <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="card-title">GSP Center</h3>
                                    <p class="card-text">
                                        Groundwater sustainability plan examples and additional resources can be found here.
                                    </p>
                                    <a role="button" class="btn btn-info btn-md card-btn">
                                         GSP Center <i class="fa fa-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="card-title">Water Data</h3>
                                    <p class="card-text">
                                        Assistance with your water monitoring reports and viewing your data.
                                    </p>
                                    <a role="button" class="btn btn-info btn-md card-btn">
                                         Data Monitoring <i class="fa fa-arrow-right"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row" id="faq-questions">                        
                        <div class="col-xs-12 col-sm-6">
                            <div class="card">
                                <div class="card-block">
                                    <!-- Sample Questions for FAQ -->
                                    <h3 class="card-title">GSA Frequently Asked Questions: </h3>
                                    <p class="card-text">
                                        <ul class="faq-list">
                                        <a href=""><li>What types of agencies are exclusive?</li></a>
                                        <a href=""><li>How do I resolve an overlap issue?</li></a>
                                        <a href=""><li>What are the GIS shapefile requirements?</li></a>
                                        <a href=""><li>When will my GSA form notice be approved?</li></a>
                                        </ul>
                                    </p>
                                </div>
                                <div class="card-block">
                                    <h3 class="card-title">GSP Frequently Asked Questions:</h3>
                                    <p class="class-text">
                                        <ul class="faq-list">
                                            <a href=""><li>What is the due date for my agency's GSP?</li></a>
                                            <a href=""><li>Why was my GSP rejected?</li></a>
                                            <a href=""><li>How do I determine my minimum threshold for a management area?</li></a>
                                            <a href=""><li>How do I map an adjudicated area basin?</li></a>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="card">
                                <div class="card-block">
                                    <h3 class="card-title">Quick Links</h3>
                                    <p class="class-text">
                                        <ul class="faq-list">
                                            <li><a href="http://leginfo.legislature.ca.gov/faces/codesTOCSelected.xhtml?tocCode=WAT&tocTitle=+Water+Code+-+WAT">California Water Codes</a></li>
                                            <li><a href="http://www.water.ca.gov/groundwater/sgm/pdfs/GD_GSP_Checklist_Final_2016-12-23.pdf">GSP Checklist PDF</a></li>
                                            <li><a href="http://www.water.ca.gov/groundwater/sgm/gsp.cfm">SGM GSP Emergency Regulations</a></li>
                                            <li><a href="http://sgma.water.ca.gov/adjudbasins/report/publicview">Submitted Adjudicated Reports</a></li>
                                            <li><a href=""></a></li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>